body{
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

}

.logo img{
    height: 45px;
    width: 167px;
}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.wrapper{
    background-image: url(./Images/back.jpg);
    height: 131vh;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.wrapper::before{
    content: '';
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 630px;
    margin-left: 50%;
    background: rgba(0, 0, 0, .75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translate(-50%);
}

.email input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background: #333;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.password input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    background: #333;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.signIn button{
    height: 50px;
    width: 100%;
    color: #fff;
    background: #e50914;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1px bold #e50914;
    margin-top: 25px;
}

.facebook{
    display: flex;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    color: #737373;
}

.foot{
    margin-top: 120px;
    padding: 35px;
    height: 198px;
    background: rgba(0, 0, 0, .75);
    margin-block-end: 100px;
}

.foot span{
    color: #737373;
    position: relative;
    margin-left: 420px;
    margin-bottom: 20px;
}

.foot a{
    color: #737373;
    position: relative;
    text-decoration: none;
}

.links{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 420px;
    margin-right: 600px;
    justify-content: space-between;
    font-size: smaller;
}

.links2{
    display: flex;
    margin-top: 10px;
    margin-left: 420px;
    margin-right: 1060px;
    justify-content: space-between;
    font-size: smaller;
}

.language{
    position: relative;
    margin-top: 40px;
    margin-left: 420px;
    
}
select{
    height: 50px;
    width: 100px;
}

option{
    height: 50px;
    width: 100px;
}